{% extends "base.html" %}

{% block body %}
<div class="container">
    <div class="row margin-top">
        <div class="col-md-3">
            <!--d-flex justify-content-center-->
            <div id="song_content" class="card" style="width: 18rem; outline: none;">
                <img id="song_img" class="card-img-top">
                <div class="card-body">
                    <h4 id="song_name" class="card-text"></h4>
                    <p id="song_album_artist" class="card-text"></p>
                    <button class="btn btn-outline-dark" id="surprise_me"></button>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <h4>How it works</h4>
            <img src="../static/img/song_selection.svg" class="img-fluid">
        </div>
    </div>
</div>
<script src="../static/js/select_song.js"></script>

{% endblock %}